<html>
    <head>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <h1>Application</h1>
        <div class = "disp">
            To :
            <%= application.to %>
            <br>
            <br>
            From :
            <%= application.from %>
            <br>
            <br>
            Subject :
            <%= application.subject %>
            <br>
            <br>        
            Purpose :
            <%= application.purpose %>
            <br>
            <br>
            Timing :
            <%= application.timing %>
            <br>
            <br>
            Description :
            <%= application.description %>
            <br>
            <br>
            Applicant :
            <%= application.applicant %>
            <br>
            <br>
            Verified :
            <%= application.isVerif1 %>
        </div>

    </body>
</html>