<!-- <html>
    <head></head>
    <body>
        <h1>Submitted applications :</h1>
        <% applications.forEach(function(app){ %>
            <a href="/application/view/<%=app._id%>"><%=app.subject %></a>
            <br>
        <% }); %>
    </body>
</html> -->


<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/Applicationstatus.css">
</head>
<body>
		<div class="split left">
  <div class="centered">
    <!-- <img src="img_avatar2.png" alt="Avatar woman"> -->
    <h2><span>Application</span></h2>
    <!-- <p>Some text.</p> -->
    <div class="list-type1">
    <ol>
    <% applications.forEach(function(app){ %>
        <li><a href="/application/view/<%=app._id%>"><%=app.subject %></a></li>
        <!-- <br> -->
    <% }); %>

    
<!-- <li><a href="#">G5 permission</a></li>
<li><a href="#">G5 permission</a></li>
<li><a href="#">Mamta Awasti</a></li>
<li><a href="#">Kesahav</a></li>
<li><a href="#">A.N GILL</a></li>
<li><a href="#">Mamta Awasti</a></li>
<li><a href="#">Kesahav</a></li> -->
</ol>
</div>

  </div>
</div>

<div class="split right">
  <div class="centered">
    <!-- <img src="img_avatar.png" alt="Avatar man"> -->
    <h2><span2>Application Status</span2></h2>
    <!-- <p>Some text here too.</p> -->
    <div class="list-type1">
<ol>
        <% applications.forEach(function(app){ %>
            <li><a href="/application/view/<%=app._id%>"><%=app.isVerif1%></a></li>
            <!-- <br> -->
        <% }); %>
<!-- <li><a href="#">Approved/Cancelled</a></li>
<li><a href="#">G5 permission</a></li>
<li><a href="#">Mamta Awasti</a></li>
<li><a href="#">Kesahav</a></li>
<li><a href="#">A.N GILL</a></li>
<li><a href="#">Mamta Awasti</a></li>
<li><a href="#">Kesahav</a></li> -->
</ol>
</div>
  </div>
</div>
</body>
</html>